.bucket {
  text-align: center;
  border: 1px solid #bbb;
  border-radius: 10px;
  padding: 10px;
}

.bucket:hover {
  background-color: #ddd;
}

.selectedBucket {
  color: #0092ff;
  background-color: #e8f0fe;
}
