.bucket {
  border: 1px solid #bbb;
  border-radius: 10px;
  padding: 20px 10px;
  font-size: 120%;
}

.bucket:hover {
  background-color: #ddd;
}

.selectedBucket {
  color: #0092ff;
  background-color: #e8f0fe;
}
